<div class="container p-5" style=" background-color: antiquewhite">
    <input type="date" placeholder="Search" [(ngModel)]="selectedDate" (change)="fetchResult()"
        class="input-group SearchBox my-5 py-2">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Employee Name</th>
                <th scope="col">Check-In Time</th>
                <th scope="col">Check-Out Time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of report">
                <td>{{item.name}}</td>
                <td>
                    <div *ngIf="item.checkInTime==null; else elseCheckInBlock">
                        Null
                    </div>
                    <ng-template #elseCheckInBlock>
                        {{item.checkInTime}}
                    </ng-template>
                </td>
                <td>
                    <div *ngIf="item.checkOutTime==null; else elseChectOutBlock">
                        Null
                    </div>
                    <ng-template #elseChectOutBlock>
                        {{item.checkOutTime}}
                    </ng-template>
                </td>
            </tr>
        </tbody>
    </table>

    <a routerLink="checkInOut"> Check In</a>
    <div>
        <a routerLink="employeeList">employeeList</a>

    </div>
</div>