<div class="container m-5">

    <form class="form-group" [formGroup]="employeeForm">

        <div class="my-3">
            <label>Name:</label>
            <input class="mx-3" type="text" formControlName="name" name="Name">
            <div *ngIf="employeeForm.get('name')!.hasError('required')">
                <small>Name is required</small>
            </div>
        </div>
        <div class="my-3">
            <label>Department:</label>
            <input class="mx-3" type="text" formControlName="department" name="Department">
            <div *ngIf="employeeForm.get('department')!.hasError('required')">
                <small>Department is required</small>
            </div>
        </div>

        <div class="my-3">
            <label>Email:</label>
            <input class="mx-3" type="email" formControlName="email" name="Email">
            <div *ngIf="employeeForm.get('email')!.hasError('email')">
                <small>valid email required</small>
            </div>
        </div>
        <button type="submit" class="btn btn-warning" (click)="AddEmployee()">Add Employee</button>
    </form>
    <p class="text-danger">{{erroMsg}}</p>
</div>