<div class="m-5">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Department</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of employees">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.department}}</td>
                <td>{{item.email}}</td>
                <td>
                    <a class="btn btn-primary mx-1" [routerLink]="['/addEdit',item.id]">Edit</a>
                    <a class="btn btn-danger mx-1" (click)="deleteEmp(item.id)">Delete</a>
                </td>
            </tr>

        </tbody>
    </table>
</div>