<div class="form-group container my-5">
    <label>Select Employee</label>
    <div class="d-flex my-3 row">

        <select>
            <option value="">Select a genre</option>
            <option value="Fiction">Fiction</option>
            <option value="Non-Fiction">Non-Fiction</option>
            <option value="Mystery">Horror</option>
            <option value="Thriller">Thriller</option>
        </select>

    </div>
    <div class="my-3 row ">
        <input type="time" step="3600">
    </div>
    <a class="btn btn-primary">Check In</a>



</div>